body{
    background-image: url(base.png);
    margin-left: 70px;
    margin-right: 70px;
}
#header{
    
    height: 300px;
    position :relative;

}
#htitle{
    border-radius:10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.726);
    margin-right: 310px;
    height: 300px; 
    
    
}
.myicon{
    
    float: right;
}

.toro{
    border-radius:10px;
    width: 300px;
    height: 300px;
}
.left{
    
    margin-right: 320px;
    height: auto;
    margin-top: 30px;
}
.commit{
    border-radius:10px;
    border: 30px solid rgba(101, 150, 240, 0); /*�߿�*/
    background-color:  rgba(101, 150, 240, 0.541);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    height: auto;
}
.last{
    border-radius:10px;
    margin-top: 10px;
    margin-bottom: 100px;
    border: 30px solid rgba(101, 150, 240, 0); /*�߿�*/
    background-color:  rgba(24, 236, 41, 0.541);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    height: auto;
}
.right{
    float: right;
    width: 300px !important;
}
.end{
    
   color: rgba(215, 19, 241, 0.568);
}
.calendar{
    position: relative;
    background-color: rgba(255, 255, 255, 0.753);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid; /*�߿�*/
    border-radius:10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.calendar .date{
    width: 300px;
    padding: 20px;
    box-sizing: border-box; /*���Ӵ�С����*/
}
.calendar .date h3{
    margin: 0 0 30px; 
    padding: 0;
    font-size: 25px; /*�����С*/
    font-weight: 300; /*����ά��*/
    text-align: center; /*�������*/
    user-select: none; /*����ѡ��*/
    text-transform: capitalize; /*����ĸ��д*/
}
.calendar .date .days{
    display: flex;
    flex-wrap: wrap; /*�ɻ���*/
}
.calendar .date .days .number.active{
    background-color: #362b48;
    color: #fff;
    cursor: pointer; /*�����ʽ*/
    border-radius: 50%; /*�߿�Բ��*/
}
.calendar .date .days .day,
.calendar .date .days .number{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.calendar .date .days .day:first-child,
.calendar .date .days .number:nth-child(7n+1){ /*7��Ϊһ�飬ÿ���һ��*/
    color: #f44336;
    font-weight: 600;
}
.todolist{
    margin-top: 20px;
    width: 300px;
    border-radius:10px;
    border: solid rgb(0, 0, 0); /*�߿�*/
    background-color:  rgba(255, 255, 255, 0.541);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    height: auto;
}
.todolist li{
    color: rgba(255, 2, 2, 0.904);
    list-style-type: none;
    margin-top: 10px;
    width: 200px;
    border-radius:10px;
    border: solid rgb(3, 0, 0); /*�߿�*/
    background-color:  rgba(223, 220, 22, 0.253);
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.5); */
    height: auto;
}
.word{
    margin-top: 20px;

    border-radius:10px;
    border: solid rgb(0, 0, 0); /*�߿�*/
    background-color:  rgba(219, 23, 23, 0);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.new{
    color: white;
    border-radius:10px;
    border: 10px solid rgba(4, 243, 63, 0.699); /*�߿�*/
    background-color:  rgba(0, 0, 0, 0.658);
}
.test{
    background-color: rgb(255, 0, 0);
}
